Repository October-Web-Project/October-Backend, pull requests merged in 2024-12, with the labels that each got.

#16 feature-media PR
  build.gradle
  src/main/java/com/october/back/config/AwsS3Config.java
  src/main/java/com/october/back/config/QueryDslConfig.java
  src/main/java/com/october/back/config/SwaggerConfig.java
  src/main/java/com/october/back/global/common/ApiResponse.java
  src/main/java/com/october/back/global/common/BaseEntity.java
  src/main/java/com/october/back/global/common/BusinessException.java
  src/main/java/com/october/back/global/common/ErrorCode.java
  src/main/java/com/october/back/global/common/ErrorResponse.java
  src/main/java/com/october/back/global/exception/MediaException.java
  src/main/java/com/october/back/global/exception/ReviewException.java
  src/main/java/com/october/back/global/exception/UserException.java
  src/main/java/com/october/back/media/controller/MediaController.java
  src/main/java/com/october/back/media/controller/dto/FinishUploadRequest.java
  src/main/java/com/october/back/media/controller/dto/MediaRequest.java
  src/main/java/com/october/back/media/controller/dto/MediaResponse.java
  src/main/java/com/october/back/media/controller/dto/PreSignedUploadInitRequest.java
  src/main/java/com/october/back/media/entity/Media.java
  src/main/java/com/october/back/media/entity/MediaType.java
  src/main/java/com/october/back/media/repository/MediaRepository.java
  src/main/java/com/october/back/media/service/MediaService.java
  src/main/java/com/october/back/media/service/dto/FinishUploadServiceDto.java
  src/main/java/com/october/back/media/service/dto/MediaServiceDto.java
  src/main/java/com/october/back/media/service/dto/PreSignedUploadInitServiceDto.java
Labels: In Progress, Implementation, Code Review, Media

#21 feature-login PR
  build.gradle
  src/main/java/com/october/back/config/SecurityConfig.java
  src/main/java/com/october/back/global/common/ErrorCode.java
  src/main/java/com/october/back/global/exception/JwtException.java
  src/main/java/com/october/back/review/entity/Review.java
  src/main/java/com/october/back/review/service/ReviewService.java
  src/main/java/com/october/back/review/service/dto/ReviewServiceDto.java
  src/main/java/com/october/back/security/oauth2/CustomAuthenticationFailureHandler.java
  src/main/java/com/october/back/security/oauth2/CustomSuccessHandler.java
  src/main/java/com/october/back/security/oauth2/serivce/CustomOAuth2User.java
  src/main/java/com/october/back/security/oauth2/serivce/CustomOAuth2UserService.java
  src/main/java/com/october/back/security/oauth2/serivce/dto/KakaoResponseDto.java
  src/main/java/com/october/back/security/oauth2/serivce/dto/NaverResponseDto.java
  src/main/java/com/october/back/security/oauth2/serivce/dto/OAuth2ResponseDto.java
  src/main/java/com/october/back/user/entity/User.java
  src/main/java/com/october/back/user/entity/UserRole.java
  src/main/java/com/october/back/user/entity/Users.java
  src/main/java/com/october/back/user/entity/dto/UserDto.java
  src/main/java/com/october/back/user/repository/UserRepository.java
  src/main/java/com/october/back/user/service/UserService.java
  src/main/java/com/october/back/user/service/dto/UserRequestDto.java
  src/main/java/com/october/back/user/service/dto/UserResponseDto.java
  src/main/java/com/october/back/util/jwt/JwtFilter.java
  src/main/java/com/october/back/util/jwt/JwtUtil.java
Labels: enhancement, In Progress, Implementation, Code Review

#23 Hotfix-login - PR
  src/main/java/com/october/back/TestController.java
  src/main/java/com/october/back/config/SecurityConfig.java
  src/main/java/com/october/back/security/oauth2/CustomSuccessHandler.java
  src/main/java/com/october/back/security/oauth2/service/CustomOAuth2User.java
  src/main/java/com/october/back/security/oauth2/service/CustomOAuth2UserService.java
  src/main/java/com/october/back/security/oauth2/service/dto/KakaoResponseDto.java
  src/main/java/com/october/back/security/oauth2/service/dto/NaverResponseDto.java
  src/main/java/com/october/back/security/oauth2/service/dto/OAuth2ResponseDto.java
  src/main/java/com/october/back/util/jwt/JwtFilter.java
Labels: bug
